<%= bootstrap_form_with(model: [@item, @review], url: item_reviews_path(@item), method: :post, data: { turbo: false }) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rating, "Please rate your item." %>
    <%= f.number_field :rating %>
  </div>

  <div class="field">
    <%= f.label :comment, "Tell us how you feel!" %>
    <%= f.text_area :comment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>